/* Regole Generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

/* Header */

header{
    background-color: #4584FE;
    margin-bottom: 60px;
}

.container{
    max-width: 80%;
    margin: auto;
    
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.mobile-menu{
    color: white;
    font-size: 24px;
}

.desktop-menu{
    display: none;
}

.desktop-menu a:not(.button){
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.button{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 4px 8px;
    border-radius: 12px;
}

/* versione desktop */

@media screen and (min-width:1168px){
    .desktop-menu{
        flex-basis: 420px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu{
        display: none;
    }
}

/* Inizio parte principale */

/* Prima section */
.square{
    background-color: #B5DDFE;
    border-radius: 30px;
    margin-bottom: 20px;
}

.demo{
    padding: 20px;
}


.dev-flex h2{
    color:#4584FE;
}

.demo .button{
    background-color: #4584FE;
    border-radius: 24px;
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.demo a{
    color: white;
}

.demo p{
    margin: 20px 0;
}

.dev-flex p{
    color: #86A3BC;
    font-weight: bold;
    line-height: 24px;

}

.phone{
    height: 300px;
    text-align: center;
}

.phone img{
    height: 100%;
}

.col{
    text-align: center;
    padding: 20px;
}

.col i{
    color: #4584FE;
    font-size: 60px;
    padding: 10px;
}

.col h2{
    margin: 10px 0;
}

/* versione tablet */

@media screen and (min-width:810px){

    .container{
        max-width: 90%;
        margin: auto;
    }

    .dev-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .app{
        width: 65%;
    }

    .phone{
        text-align: left ;
    }


    .col{
        width: calc(100%/3 - 10px);
    }

}

/* Versione desktop */

@media screen and (min-width:1168px){
    .container{
        max-width: 60%;
        margin: auto;
        font-size: 0.9rem;
    }
    .app{
        display: flex;
        align-items: end;
    }

    .demo{
        align-self: flex-start;
        width: 60%;
    }

    .phone{
        height: 240px;
    }
 
}

/* Section planning */

.violet{
    background-color:#9792E4;
    padding: 60px 0;
}


.planning{
    height: 300px;
    text-align: center;
}

.planning img{
    max-height: 100%;
}

.strategic{
    color: white;
}

.strategic h2{
    margin-top: 80px;
    margin-bottom: 40px;
}

.strategic p{
    line-height: 28px;
    margin-bottom: 30px;
}

.planning2{
    width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
}

.planning2 img{
    max-width:100% ;
}

.planning2 h2{
    font-size: 18px;
    margin:20px 0;
}

.planning2 p{
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    padding-bottom: 20px;
}

.fa-arrow-down{
    background-color: #9792E4;
    padding-top: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Versione tablet */

@media screen and (min-width:810px) and (max-width:1168px){
   .violet h2{
    font-size: 2.2em;
   }

   .planning{
    height: 600px;
   }

   .planning2{
    width: 600px;
   }
}

/* Versione desktop */

@media screen and (min-width:1168px){

    .planning-col{
        margin-left: 50px;
    }

    .strategic{
        max-width: 360px;
    }

    .flex-planning{
        display: flex;
    }

    .planning2{
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .planning2 img{
        max-width: 60%;
    }
}

/* Sezione testimonials */

#testimonial{
    margin-bottom: 80px;
}

.testimonal-header{
    text-align: center;
    margin-top: 50px;
}

.testimonal-header h3{
    font-size: 32px;
    margin: 20px 0;
    color: #9792E4;
}

.testimonal-header p{
    line-height: 30px;
}

.testimonials-col{
    margin-top: 40px;
    background-color: #9792E4;
    border-radius: 36px;
    padding: 12px;
}

.testimonials-col p{
    line-height: 30px;
    color: white;
    text-align: center;
}

.testimonials-col h3{
    text-align: center;
    color: white;
    margin: 30px;
}

.testimonials{
    text-align: center;
}

.testimonials img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

/* Versione tablet */

@media screen and (min-width:810px){

    .testimonal-header{
        font-size: 1.2em;
    }

    .testimonials-col{
        display: flex;
        align-items: center;
    }

    .testimonials-col p, .testimonials-col h3{
        margin: 30px;
        text-align: unset;
    }
}

/* Versione desktop */

@media screen and (min-width:1168px){
    .testimonials img{
        height: 160px;
        width: 160px;
    }

    .testimonials-col p, .testimonials-col h3{
        font-size: 1.2em;
    }
}

/* Sezione benefits */

#benefits{
    text-align: center;
    color: white;
    font-size: 34px;
    margin-bottom: 50px;
}

.cards{
    background-color: white;
    border-radius:24px;
    padding: 30px;
    margin-bottom: 30px;
}

.cards h2{
    font-size:48px ;
    color: #9792e4;
    margin-bottom: 20px;
}

.cards h3{
    font-size: 22px;
    color: #9792e4;
    margin-bottom: 20px;
}

.cards p{
    color: gray;
    line-height: 28px;
    margin-bottom: 30px;
}

.cards .button{
    background-color: #9792e4;
    color: white;
    display: inline-block;
    width: 140px;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    font-weight:bold; 
}

/* Versione tablet */

@media screen and (min-width:810px){

    .flex-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .cards{
        max-width: calc(100%/2 - 20px);
    }
}

/* Versione desktop */

@media screen and (min-width:1168px){
    .cards{
        max-width: calc(100%/3 - 20px);
    }
}
